<h1>SUBMITTED VIEW DATA TEST</h1>
<p>This is a test page to see if the view renders.</p>
<p>User: <%= current_user.email %></p>
<p>Role: <%= current_user.role %></p>
<p>Time: <%= Time.current %></p>


